@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

// Cards
.card {
  display: grid;
  grid-template:
    "img title" min-content
    "img content" auto / 3fr 4.5fr;
  grid-column-gap: 1.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  padding: 1.5em;
  margin-bottom: 1.5em;
}

.card-img {
  grid-area: img;
  color: #ab780a;
  max-width: 100%;
  a {
    color: $yellow;
    font-size: 1.1em;
    text-decoration: none;
  }
  .data-val {
    font-size: 1.1em;
    font-style: italic;
    color: $yellow;
  }
  .map-locator-img {
    cursor: pointer;
  }
}

.card-title {
  grid-area: title;
  margin: 0;
  font-weight: 300;
}

.card-content {
  grid-area: content;
  color: #5a4c4c;
  a {
    color: $yellow;
    font-size: 1.1em;
  }
  .data-val {
    font-size: 1.1em;
    font-weight: bold;
    color: #000;
  }
}
