<div class="card">
  <img
    src="assets/images/ico_map.png"
    alt=""
    class="card-img"
  />
  <h2 class="card-title">{{locData.PNAME}}</h2>
  <div class="card-content">
    <div>
      <div>eGRID2020 Plant file sequence number: {{locData.SEQPLT20}}</div>
      <div> Data Year: {{locData.YEAR}}</div>
      <div> Plant state abbreviation: {{locData.PSTATABB}}</div>
      <div> DOE/EIA ORIS plant or facility code: {{locData.ORISPL}}</div>
      <div> Plant transmission or distribution system owner name: {{locData.OPRNAME}}</div>
      <!-- <div>	Plant transmission or distribution system owner ID: {{locData.OPRCODE}}</div>
      <div> Utility name: {{locData.UTLSRVNM}}</div>
      <div> Utility ID: {{locData.UTLSRVID}}</div>
      <div> Plant-level sector: {{locData.SECTOR}}</div>
      <div> Balancing Authority Name: {{locData.BANAME}}</div>
      <div> Balancing Authority Code: {{locData.BACODE}}</div>
      <div> NERC region acronym: {{locData.NERC}}</div>
      <div> eGRID subregion acronym: {{locData.SUBRGN}}</div>
      <div> eGRID subregion name: {{locData.SRNAME}}</div>
      <div> Plant FIPS county code: {{locData.FIPSCNTY}}</div>
      <div> Plant county name: {{locData.CNTYNAME}}</div>
      <div> Plant latitude: {{locData.LAT}}</div>
      <div> Plant longitude: {{locData.LON}}</div>
      <div> Number of units: {{locData.NUMUNT}}</div>
      <div> Number of generators: {{locData.NUMGEN}}</div>
      <div> Plant primary fuel: {{locData.PLPRMFL}}</div>
      <div> Plant primary fuel category: {{locData.PLPRMFL}}</div>
      <div> Plant annual net generation (MWh): {{locData.PLNGENAN}}</div> -->
    </div>
    <a href="">Read more</a>
  </div>
</div>
