<div class="card">
  <img
    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/gridarea-card-img-01.jpg"
    alt=""
    class="card-img"
  />
  <h2 class="card-title">Blog post title</h2>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean posuere
      semper urna, ut pellentesque sem fermentum vel. Mauris luctus quis lectus
      nec luctus. Donec ut diam et neque eleifend varius sed quis erat.
    </p>
    <a href="">Read more</a>
  </div>
</div>
<div class="card">
  <img
    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/gridarea-card-img-01.jpg"
    alt=""
    class="card-img"
  />
  <h2 class="card-title">Blog post title</h2>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean posuere
      semper urna, ut pellentesque sem fermentum vel. Mauris luctus quis lectus
      nec luctus. Donec ut diam et neque eleifend varius sed quis erat.
    </p>
    <a href="">Read more</a>
  </div>
</div>
<div class="card">
  <img
    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/gridarea-card-img-01.jpg"
    alt=""
    class="card-img"
  />
  <h2 class="card-title">Blog post title</h2>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean posuere
      semper urna, ut pellentesque sem fermentum vel. Mauris luctus quis lectus
      nec luctus. Donec ut diam et neque eleifend varius sed quis erat.
    </p>
    <a href="">Read more</a>
  </div>
</div>
