@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

// Cards
.card {
  display: grid;
  grid-template:
    "img title" min-content
    "img content" auto/3fr 4fr;
  grid-column-gap: 1.5em;
  box-shadow:0 0 5px rgb(0 0 0 / 22%);
  padding: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 10px;
  background: #fff;
}

.card-img {
  grid-area: img;
  color: #3573a3;
  max-width: 100%;
  background: #eee;
  padding: 10px;

  .card-map-link {
    display: flex;
    grid-gap: 5px;
    gap: 5px;
    margin-bottom: 10px;
  }

  a {
    color: #3573a3;
    font-weight: 400;
    font-size: 1.1em;
    text-decoration: none;
  }
  .data-val {
    font-size: 1rem;
    color: #3678ab;
    font-weight: 400;
  }

  .map-locator-img {
    cursor: pointer;
  }
}

.card-title {
  grid-area: title;
  margin: 0;
  font-weight: 400;
}

.card-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 5px;
  label {
    font-size: small;
  }
}

.card-content {
  grid-area: content;
  color: #5a4c4c;
  a {
    color: $yellow;
    font-size: 1.1em;
  }
  .data-val {
    font-size: 1.1em;
    font-weight: 400;
    color: #222;
  }
}
