<header>
  <h1 class="header-title">EGrid Data 2020</h1>
</header>

<div class="hero">
  <app-location-search></app-location-search>
</div>

<main>
  <h1>Top 10 annual net generation of power plants.</h1>
  <div class="app-location-card-main">
    <ng-container *ngFor="let locData of topTenPowerPlants">
      <app-location-card [locData]="locData"></app-location-card>
    </ng-container>
  </div>
</main>

<aside>
  <h1>Filter</h1>
  <app-location-filter></app-location-filter>
</aside>

<footer>
  <h1 class="footer-title">copyright &copy; 2020-2022</h1>
</footer>
