@import "../scss/variables.scss";
@import "../scss/mixins.scss";

// ===== Styles ===== //

header {
  grid-area: header;
}

header,
footer {
  position: relative;
  background: #3573a3;
  color: #e9d20f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  @include font-alt($color: $yellow, $font-size: $fs-base-2);
}

.map-area {
  grid-area: map-area;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

app-location-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

main {
  grid-area: main;
  padding: 0 1rem;
}

.app-location-card-main {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  grid-column-gap: 1.5em;
}

aside {
  grid-area: sidebar;
  background: $dark-gray;
  // padding: 2em;
}

footer {
  grid-area: footer;
}
