@import "../scss/variables.scss";
@import "../scss/mixins.scss";

// ===== Styles ===== //

header {
  grid-area: header;
}

header,
footer {
  position: relative;
  background: $clr-primary;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-text {
  text-transform: uppercase;
  color: $clr-primary;
  font-weight: 300;
  font-size: 1.1em;
}

.swich-view-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .swich-view-icons {
    display: flex;
    align-items: center;
    cursor: pointer;

    .switch-view-text {
      font-size: 0.7em;
      font-weight: 500;
      color: #3573a3;
      margin-right: 3px;
    }
  }
}

.footer-title {
  @include font-alt($color: $white, $font-size: $fs-base-2);
}

.map-area {
  grid-area: map-area;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

app-location-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

main {
  grid-area: main;
  padding: 0 1rem;
}

.app-location-card-main {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  grid-column-gap: 1.5em;
}

.app-location-table-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1.5em;
}

aside {
  grid-area: sidebar;
  background: $dark-gray;
  // padding: 2em;
}

footer {
  grid-area: footer;
}
