<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<header>
  <app-location-header-search class="abs-position"></app-location-header-search>
</header>

<div class="map-area">
  <app-location-map></app-location-map>
</div>

<main>
  <h1>Top 10 annual net generation of power plants.</h1>
  <div class="app-location-card-main">
    <ng-container *ngFor="let locData of topTenPowerPlants">
      <app-location-card [locData]="locData"></app-location-card>
    </ng-container>
  </div>
</main>

<aside>
  <app-location-filter></app-location-filter>
</aside>

<footer>
  <h1 class="footer-title">copyright &copy; 2020-2022</h1>
</footer>
