@import "../scss/variables.scss";
@import "../scss/mixins.scss";

// ===== Styles ===== //

header {
  grid-area: header;
}

header,
footer {
  background: $black;
  color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title,
.footer-title {
  @include font-alt($color: $yellow, $font-size: $fs-base-2);
}

.hero {
  grid-area: hero;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/gridarea-hero-bg.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  grid-area: main;
}

.app-location-card-main {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-column-gap: 1.5em;
}

aside {
  grid-area: sidebar;
  background: $dark-gray;
  padding: 2em;
}

footer {
  grid-area: footer;
}
