<div class="header-container abs-position">
  <h1 class="header-title">EGrid Data 2020</h1>
  <div class="example-text">Search by plant name (eg: Alakanuk)</div>
  <div class="content">
    <div class="search">
      <input
        type="text"
        class="search__input"
        aria-label="search"
        placeholder="enter your search"
      />
      <button class="search__submit" aria-label="submit search">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div class="reset-map">
    <button class="button-reset">Reset</button>
  </div>
</div>
