// ===== Variables ===== //

// Fonts stuff
$six-caps: "Six Caps", sans-serif;
$merriweather: "Merriweather", serif;

$ff-base: $merriweather;
$ff-alt: $six-caps;

$fs-base: 1rem;
$fs-base-2: 2rem;
$fs-h1: 3.75rem;
$fs-h2: 2.875rem;
$fs-h3: 2.25rem;
$fs-xl: 6rem;

// Colours
$black: #252525;
$yellow: #e9d20f;
$light-gray: #c2c2c2;
$dark-gray: #e8e8e8;
$white: #fff;
