.filter-container {
  display: flex;
  flex-direction: column;

  .button-reset {
    background-color: #3573a3;
    border-color: #e8e8e8;
    color: #0c0202;
    padding: 10px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    color: #fafcfd;
  }
  .button-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
  }

  .filter-option-area {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .filter-title {
      font-weight: bold;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      color: #3573a3;
    }

    .filter-text-desc {
      font-size: 13px;
      margin-bottom: 10px;
      margin-top: -23px;
      color: #a16e00;
    }

    .filter-option-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 17px;
      padding-left: 9%;

      .filter-option-item {
        display: flex;
        > div {
          display: flex;
          align-items: center;
          max-width: 32px;
        }

        svg {
          width: 30px !important;
          margin: 0 auto;
        }
      }
    }
  }
}
